


.menu-button {
  position: fixed;
  top: 0px;       /* ระยะห่างจากบน */
  right: 0px;      /* ระยะห่างจากซ้าย */
  width: 80px;    /* หรือแล้วแต่ขนาดที่คุณต้องการ */
  height: 50px;
  background: linear-gradient(0deg, rgba(var(--color-blue),0.815) 0%, rgba(var(--color-green),1) 100%);
  color: white;
  z-index: 99;   /* ให้ซ้อนอยู่บนสุด */
  text-align: left;
  padding-top: 45px;
  padding-right: 0;
}

.menu-line {
	height: 4px;
	background: white;
	margin-bottom: 8px;
	margin-right: 0;
	padding-right: 0;
}

.h-logo {
  position: fixed;
  top: 0px;       /* ระยะห่างจากบน */
  left: 0px;      /* ระยะห่างจากซ้าย */
  width: 170px;    /* หรือแล้วแต่ขนาดที่คุณต้องการ */
  height: 70px;
  background-image: url(/assets/images/common/nav/h_logo.png);
  background-repeat: no-repeat;
  color: white;
  z-index: 99;   /* ให้ซ้อนอยู่บนสุด */
}

.news {
	width: var(--common-in-width);
	max-width: var(--common-in-maxwidth);
	margin: 0 auto;
	padding-top: min(11.66666vw,140px);
}
/* @media screen and (max-width:767px){
	.news {
		padding-top: 20vw;
	}
}* /

/* inner */
.news__inner {
	display: flex;
}
@media screen and (max-width:767px){
	.news__inner {
		display: block;
	}
}

/**
 * newsLists
 */
.newsListsWrap {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding-left: min(4.16666vw,50px);
}
@media screen and (max-width:767px){
	.newsListsWrap {
		margin-top: 5.33333vw;
		padding-left: 0;
	}
}

/* item */
.newsLists__item {
	border-top: 1px solid rgb(var(--color-blue));
	height: min(8.33333vw,100px);
	list-style-type: none ;
	
}
.newsLists__item:last-child {
	border-bottom: 1px solid rgb(var(--color-blue));
}
@media screen and (max-width:767px){
	.newsLists__item {
		height: auto;
	}
}

/* a */
.newsLists__item a {
	display: flex;
	align-items: center;
	color: rgb(var(--color-blue));
	font-size: var(--fontsize-16);
	line-height: 1.4;
	width: 100%;
	height: 100%;
	text-decoration: none;
}
.newsLists__item__inner {
	display: flex;
	position: relative;
	z-index: 1;
}
@media screen and (max-width:767px){
	.newsLists__item__inner {
		display: block;
	}
	.newsLists__item a {
		padding: 3.2vw 0;
	}
}

/* a::after */
.newsLists__item a {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.newsLists__item__inner {
    flex: 1;
}
.newsLists__item a::after {
    content: "";
    display: inline-block;
	flex-shrink: 0;
    width: 18px;
    height: 18px;
    background: url('../images/common/icon/icon_arrow.svg') no-repeat center center;
    background-size: contain;
}

/* time */
.newsLists__time {
	display: flex;
	align-items: center;
}
.newsLists__time:after {
	content: "";
	background-color: rgb(var(--color-gold));
	display: block;
	width: 5px;
	height: 5px;
	margin: 0 min(1.66666vw,20px);
	transform: rotate(45deg);
}
@media screen and (max-width:767px){
	.newsLists__time{
		margin-bottom: 4px;
	}
	.newsLists__time:after {
		content: none;
	}
}

/* title */
.newsLists__title {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	line-clamp: 1;
	overflow: hidden;
}
@media screen and (max-width:767px){
	.newsLists__title {
		line-clamp: 2;
	}
}

/* more */
.newsMore {
	margin-top: min(4.16666vw,50px);
	margin-left: auto;
}
@media screen and (max-width:767px){
	.newsMore {
		margin-top: 5vw;
	}
}


.intro {
	position: relative;
}

/**
 * contWrap
 */
.intro__contWrap {
	width: var(--common-in-width);
	max-width: var(--common-in-maxwidth);
	margin: 0 auto;
	margin-top: 100px;
	position: relative;
	z-index: 3;
}
@media screen and (max-width:767px){
	.intro__contWrap {
		width: 100%;
	}
}

/**
 * introTextWrap
 */
.introTextWrap {
	margin-top: min(3.33333vw,40px);
}
.introText {
	color: #fff;
	font-size: var(--fontsize-22);
	line-height: 2;
	width: 125%;
	transform: scaleX(0.8);
	transform-origin: top left;
	text-align: center;
}
@media screen and (max-width:767px){
	.introTextWrap {
		margin-top: 6.66666vw;
	}
	.introText {
		font-size: 1.5vw;
		padding: 0vw;
	}
}

/*---*/
.video-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}

/* YouTube Player iframe */
#player {
position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 56.25vw; /* 100vw * 9 / 16 = 56.25vw (16:9) */

  /* ถ้า video เตี้ยกว่า viewport ให้ขยายสูงแทน */
  min-height: 100vh;
  min-width: 177.78vh; /* 100vh * 16 / 9 */

  pointer-events: none;
  z-index: 1;
}
	

/* PNG mask ขาวที่โปร่งใส (ต้องเป็นภาพโปร่งใสจริง ๆ) */
.video-mask-top {
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 70px;
  background: white;

  -webkit-mask-image: url('/assets/images/top/intro/mask_top.png');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  -webkit-mask-position: center;

  mask-image: url('/assets/images/top/intro/mask_top.png');
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;

  z-index: 2;
  pointer-events: none;
}

.video-mask-bottom {
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;
  height: 70px;
  background: white;

  -webkit-mask-image: url('/assets/images/top/intro/mask_bottom.png');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  -webkit-mask-position: center;

  mask-image: url('/assets/images/top/intro/mask_bottom.png');
  mask-repeat: no-repeat;
  mask-size: cover;
  mask-position: center;

  z-index: 4;
  pointer-events: none;
}


.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(4, 39, 27, 0.815);
  z-index: 1;
}


.intro__play-container {
  position: absolute;
  bottom: 40px;
  right: 40px;
  z-index: 10;
  padding: 12px;
  transition: transform .4s ease;
}

@media screen and (max-width:767px) {
	.intro__play-container {
		bottom: 3%;
		right: 37.5%;
	}
}

.intro__play {
  width: 136px;
  height: 136px;
  object-fit: contain;
  cursor: pointer;
  animation: rotate 18s linear infinite;

}
.intro__play-container:hover {
  transform: scale(1.15);
}


@keyframes rotate {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}


.intro__playbutton{
 position: absolute;
  top: 50%;
  left: 54.5%;
  width: 35px; /* ขนาดไอคอน */
  height: 35px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.movieLists {
	position: relative;
	list-style-type: none;
	padding-left: 0;
}

.movieLists__Title {
	display: flex;
	justify-content: center;
}

.movie__play-container {
  position: absolute;
  bottom: 40%;
  left: 46.5%;
  z-index: 10;
  transition: transform .4s ease;
  
}

.movie__play-container:hover {
  transform: scale(1.15);
}

@media screen and (max-width:767px) {
	.movie__play-container {
		bottom: 30%;
		left: 40%;
	}
}


.movie__play {
	position: relative;
	width: 136px;
	height: 136px;
	object-fit: contain;
	cursor: pointer;
	animation: rotate 18s linear infinite;
	background: white;
	mask-image: url(/assets/images/common/icon/icon_play_bg.png);
}

.movie__playbutton {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 35px; /* ขนาดไอคอน */
  height: 35px;
  cursor: pointer;
  background: white;
  mask-image: url(/assets/images/common/icon/icon_play.svg);
}

.img-overlay {
  position: absolute;
  top: 0;
  left: 50;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(var(--color-blue),0.315) 0%, rgba(var(--color-green),0.055) 100%);
  z-index: 1;
  margin: 0;
  object-fit: contain;
  padding: 0;
  
}

@media screen and (max-width:767px) {
	.img-overlay {
		width: 100%;
	}
}

/* @media screen and (max-width:767px){
	.introTextWrap {
		margin-top: 6.66666vw;
	}
	.introText {
		font-size: 1.5vw;
		padding: 0vw;
	}
} */

/* #img-overlay-sub_1 {
  position: absolute;
  top: 0;
  left: 50;
  width: 49.5%;
  height: 531px;
  background: linear-gradient(0deg, rgba(var(--color-blue),0.815) 0%, rgba(var(--color-green),0.115) 100%);
  z-index: 1;
  margin-top: 15.5px;
}

#img-overlay-sub_2 {
  position: absolute;
  top: 0;
  left: 50;
  width: 24.5%;
  height: 531px;
  background: linear-gradient(0deg, rgba(var(--color-blue),0.815) 0%, rgba(var(--color-green),0.115) 100%);
  z-index: 1;
  margin-top: 15.5px;
} */



.NavBottom__Menu {
	padding-top: min(1.66666vw,200px);
}

.NavBottomLists {
	list-style: none;
	padding: 0;
}

.NavBottomLists__item > a {
	display: block;
	border-top: 1px solid rgb(var(--color-blue));
	width: 100%;
	position: relative;
	text-decoration: none;
}

.NavBottomLists__item > a:last-child {
	border-bottom: 1px solid rgb(var(--color-blue));
}

.NavBottomLists__item > a:before {
	content: "";
	background: rgb(var(--color-blue));
	background: linear-gradient(0deg, rgba(var(--color-blue),.9) 0%, rgba(var(--color-green),.64) 40%, rgba(var(--color-green),0) 100%);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
	opacity: 0;
	transition: opacity .4s ease;
}
.NavBottomLists__item > a:hover:before {
	opacity: .6;
}

.NavBottomLists__item__inner {
	position: relative;
	z-index: 1;
}


.NavBottomLists__name {
	background: rgb(var(--color-blue));
	background: linear-gradient(0deg, rgba(var(--color-blue),1) 0%, rgba(var(--color-green),1) 100%);
	background-clip: text;
	display: flex;
	align-items: center;
	font-size: min(5vw,60px);
	width: 84%;
	max-width: 1400px;
	min-height: min(10vw,120px);
	position: relative;
	margin: 0 auto;
	line-height: 1;
	letter-spacing: 0.045em;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.NavBottomLists__name::before{
	content: "";
	background-color: rgb(var(--color-gold));
    display: block;
    width: 8px;
    height: 8px;
    margin: auto;
    transform: rotate(45deg);
    position: absolute;
    top: 0;
    bottom: 0;
    left: -.5em;
}

.NavBottomLists__more {
	position: absolute;
	top: 0;
	right: 0;
	width: min(8.33333vw,200px);
	height: 100%;
	margin: 0;
}



.NavBottomLists__more__text {
	color: rgb(var(--color-blue));
	font-size: 18px;
	line-height: 1;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
    bottom: 26%;
    left: 0;
}

.NavBottomLists__more__inner::after {
	content: "";
	background-color: rgb(var(--color-blue));
	display: block;
	width: 100%;
	height: 1px;
}

.NavBottomLists__more__inner {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	transition: width .6s ease;
}

.NavBottomLists__item > a:hover .NavBottomLists__more__inner {
	width: 80%;
}

@media screen and (max-width:767px) {
	.NavBottomLists__more__inner::after {
		margin-top: 17px;
	}
}

.footer {
	padding-top: 200px;
	padding-bottom: 700px;
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-image: url(/assets/images/common/footer/footer_visual.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
	z-index: 1;
}


.footer * {
	position: relative;
	z-index: 2;
}

.footerBnrLists {
	display: flex;
	list-style: none;
	justify-content: center;
	gap: 2vh;
	flex-wrap: wrap;
}


.footer__shareDl {
	margin-top: 40;

}

.footer__shareDl--dt {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;

}

.footer__shareDl--dd {
	margin: 0;
	padding-top: 10px;
}


.footer__shareLists {
	display: flex;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 0;
}

.footer__shareLists  #tw{
	width: 4vw;
	height: 3vh;
	filter: brightness(0) saturate(100%) invert(66%) sepia(19%) saturate(973%) hue-rotate(134deg) brightness(97%) contrast(91%);

}

.footer__shareLists  #fb{
	width: 4vw;
	height: 3vh;
	filter: brightness(0) saturate(100%) invert(66%) sepia(19%) saturate(973%) hue-rotate(134deg) brightness(97%) contrast(91%);
}

.footer__shareLists  #line{
	width: 4vw;
	height: 3vh;
    filter: brightness(0) saturate(100%) invert(66%) sepia(19%) saturate(973%) hue-rotate(134deg) brightness(97%) contrast(91%);
}

.footer__copyright {
	margin-top: 80px;
	position: relative;
	left: 38.5%;

}

.footer__copyright > a {
	margin-left: 125px;
}

.share{
  color: var(--color-blue); /* สีปกติของลิงก์ */
  text-decoration: underline;
}

/* ป้องกัน visited เปลี่ยนสี */
.share:visited {
  color: (var(--color-blue)); /* ใช้สีเดียวกับปกติ */
}
